<h1>Book Collection</h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= link_to "Add New Book", new_book_path %>
<h2>This is a test version </h2>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %> |
      <%= link_to "Show", book_path(book) %> |
      <%= link_to "Edit", edit_book_path(book) %> |
      <%= link_to "Delete", book_path(book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
